/* You can add global styles to this file, and also import other style files */
* {
  /* using modern css */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  /* for any scrool selements from left to right */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 70rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.gridDisplay {
  display: grid;
}

.one-spacing-grid-column {
  grid-template-columns: 1fr;
}

.displayFlex {
  display: flex;
  gap: 3rem;
}
