.cta-form {
  display: grid;
  grid-template-columns: ifr 1fr;
  row-gap: 2rem;
  padding: 3rem;
}

/* .wrong {
  background-color: brown !important;
} */

/* .wrong {
  border: 3px solid red !important;
} */
/* .wrong {
  box-shadow: 0px 0px 1px 2px red inset;
} */
