<div>
  <div *ngIf="formCondition">
    <p>User name or Password error</p>
  </div>
  <form class="cta-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <label for="userName"> User Name</label>
      <input
        [appWrongInput]="formCondition"
        id="userName"
        type="text"
        name="username"
        required
        ngModel
      />
    </div>
    <div>
      <label for="passWord">Password</label>
      <input
        [appWrongInput]="formCondition"
        id="passWord"
        type="password"
        name="password"
        required
        ngModel
      />
    </div>
    <input class="btn" type="submit" value="Submit" />
  </form>
  <span class="sign-up-link"
    ><a routerLink="../sign-up">Sign up here...</a></span
  >
</div>
