<section class="gridDisplay .one-spacing-grid-column container">
  <div class="displayFlex hedingColorSizing">
    <h1>Admin Control :</h1>
    <span><p>Person name To your page</p></span>
  </div>
  <article>
    <h3>Remove any user</h3>
    <p class="delWarning">This is a hot delete once done cant be reversed</p>
    <table class="container">
      <tr>
        <th>User Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>Justin Trudy</td>
        <td>34</td>
        <td>justinATgmail.com</td>
        <td>
          <div class="buttonShell">
            <button>Remove</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Justin Trudy</td>
        <td>34</td>
        <td>justinATgmail.com</td>
        <td>
          <div class="buttonShell">
            <button>Remove</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Justin Trudy</td>
        <td>34</td>
        <td>justinATgmail.com</td>
        <td>
          <div class="buttonShell">
            <button>Remove</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Justin Trudy</td>
        <td>34</td>
        <td>justinATgmail.com</td>
        <td>
          <div class="buttonShell">
            <button>Remove</button>
          </div>
        </td>
      </tr>
    </table>
  </article>
  <footer class="displayFlex">
    <div>
      <p>Developed by Mathew F Vadakumchery</p>
    </div>
  </footer>
</section>
