<section class="gridDisplay .one-spacing-grid-column container">
  <div class="displayFlex hedingColorSizing">
    <h1>Admin Control User:</h1>
    <span
      ><p>{{ userDetails?.name }}</p></span
    >
    <app-logout-button></app-logout-button>
  </div>
  <article>
    <h3>Remove any user</h3>
    <p class="delWarning">This is a hot delete once done cant be reversed</p>
    <table class="container">
      <tr>
        <th>User Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Remove</th>
      </tr>
      <!-- For Angular 6.1+ , you can use default pipe keyvalue -->
      <tr *ngFor="let values of allUserDetailsObject | keyvalue">
        <td>{{ values.value.name }}</td>
        <td>{{ values.value.age }}</td>
        <td>{{ values.value.email }}</td>
        <td>
          <div class="buttonShell">
            <button (click)="userIdToRemove(values.key)">Remove</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Dumb Data</td>
        <td>34</td>
        <td>justinATgmail.com</td>
        <td>
          <div class="buttonShell">
            <button>Remove</button>
          </div>
        </td>
      </tr>
    </table>
  </article>
  <footer class="displayFlex">
    <div>
      <p>Developed by Mathew F Vadakumchery</p>
    </div>
  </footer>
</section>
