<section class="gridDisplay .one-spacing-grid-column container">
  <div *ngIf="authenticated">
    <p>Your Authenticated</p>
  </div>
  <div class="displayFlex hedingColorSizing">
    <h1>Welcome :</h1>
    <span
      ><p>{{ userDetails?.name }} To your page</p></span
    >
  </div>
  <article>
    <div class="displayFlex authorities">
      <h2>Authorities you possess :</h2>
      <ul>
        <li *ngFor="let value of userDetails?.authorities">
          {{ value.authority }}
        </li>
      </ul>
    </div>
    <div class="details">
      <div class="displayFlex">
        <h3>Name :</h3>
        <span
          ><p>{{ userDetails?.name }}</p></span
        >
      </div>
      <div class="displayFlex">
        <h3>Age :</h3>
        <span
          ><p>{{ userDetails?.age }}</p></span
        >
      </div>
      <div class="displayFlex">
        <h3>email :</h3>
        <span
          ><p>{{ userDetails?.email }}</p></span
        >
      </div>
    </div>

    <div class="buttonShell" *ngIf="this.adminHere">
      <button (click)="adminSwitch()">Admin Control Center</button>
    </div>
  </article>
  <footer class="displayFlex">
    <div>
      <p>Developed by Mathew F Vadakumchery</p>
    </div>
  </footer>
</section>
