<section class="gridDisplay .one-spacing-grid-column container">
  <div class="displayFlex hedingColorSizing">
    <h1>Welcome :</h1>
    <span><p>Person name To your page</p></span>
  </div>
  <article>
    <div class="displayFlex authorities">
      <h2>Authorities you possess :</h2>
      <ul>
        <li>Authority 1</li>
        <li>Authority 2</li>
        <li>Authority 3</li>
      </ul>
    </div>
    <div class="details">
      <div class="displayFlex">
        <h3>Name :</h3>
        <span><p>name goes here</p></span>
      </div>
      <div class="displayFlex">
        <h3>Age :</h3>
        <span><p>Age goes here</p></span>
      </div>
      <div class="displayFlex">
        <h3>email :</h3>
        <span><p>email goes here</p></span>
      </div>
    </div>

    <div class="buttonShell">
      <button (click)="check()">Admin Control Center</button>
    </div>
  </article>
  <footer class="displayFlex">
    <div>
      <p>Developed by Mathew F Vadakumchery</p>
    </div>
  </footer>
</section>
