<p>success works!</p>
<section class="gridDisplay .one-spacing-grid-column container">
  <div class="displayFlex">
    <h1>Welcome :</h1>
    <span><p>Person name To your page</p></span>
  </div>
  <article>
    <div class="displayFlex">
      <h2>Authorities you possess :</h2>
      <ul>
        <li>Authority 1</li>
        <li>Authority 2</li>
        <li>Authority 3</li>
      </ul>
    </div>
    <div>
      <div class="displayFlex">
        <h3>Name :</h3>
        <span><p>name goes here</p></span>
      </div>
      <div class="displayFlex">
        <h3>Age :</h3>
        <span><p>Age goes here</p></span>
      </div>
      <div class="displayFlex">
        <h3>email :</h3>
        <span><p>email goes here</p></span>
      </div>
    </div>
  </article>
</section>
<footer class="displayFlex">
  <div>
    <p>footer</p>
  </div>
</footer>
